{% extends "article/base.html" %}

{% load i18n %}

{% block title %}{% trans "Articles" %}{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">{% trans "Articles" %}</li>
    </ol>
{% endblock %}

{% block content %}
    <table class="table table-hover">
        <tbody>
            {% include "article/articles_list.html"  with articles=articles %}
        </tbody>
    </table>
    <div class="">
        <a href="#" class="btn btn-primary load-more">{% trans "Load more"%}</a>
    </div>
{% endblock %}
